
	.Header-main {
		height: 7.25em;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;	
	}

	.Header-mainContent {
		margin: 0 auto;
		width: 60em;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
	}

	/* Logo */
	.Header-logo {
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header-mainInfo {
		position: absolute;
		right: 0;
		height: 3.625em;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		align-items: center;
	}

	.Header-mainDirection {
		padding: 0 .5em;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		font-style: normal;
	}

	.Header-descriptionItem {
		margin: 0;
		padding: 0 .25em;
	}

	.Header-mainSocialLink {
		text-decoration: none;
	}

	/* Menu */
	.Header-menu {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 3.125em;
		text-align: center;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		align-items: bottom;
	}

	.Header-menuList {
		margin-right: 1em;		
		-webkit-transition: all .2s cubic-bezier( .4, 0, .2, 1 );
		-moz-transition: all .2s cubic-bezier( .4, 0, .2, 1 );
		transition: all .2s cubic-bezier( .4, 0, .2, 1 );
	}

	.Header-menuList:hover {
		border-bottom: 0.25em solid #C93E49;
	}

	.Header-menuList:hover .Header-menuLink {
		color: #C93E49;
	}

	.Header-mainSubmenu:hover {
		border-bottom: 0;
	}

	.Header-mainSubmenu:hover .Header-subMenuLink {
		color: #7F7F7F;
	}

	.Header-mainSubmenu:hover .Header-subMenuList:hover .Header-subMenuLink {
		color: #C93E49;
	}

	.Header-menuLink {
		text-decoration: none;
	}

	.Header-menuList:last-child {
		margin-right: 0;
	}

	.Header-subMenu {
		position: absolute;
		top: 1.562em;
		text-align: left;
		display: none;
		background: #fff;
	}

	.Header-subMenu:hover {
		z-index: 4;
	}

	.Header-mainSubmenu:hover .Header-subMenu { 
		display: block;
		z-index: 4;
	}

	.Header-mainSubmenu:hover .Header-subMenuList {
		overflow: visible;
	}

	.Header-subMenuList {
		padding: 1em;
		background: #ccc;
		overflow: hidden;
		-webkit-transition: all .2s cubic-bezier( .4, 0, .2, 1 );
		-moz-transition: all .2s cubic-bezier( .4, 0, .2, 1 );
		transition: all .2s cubic-bezier( .4, 0, .2, 1 );
	}

	.Header-subMenuList:hover {
		background: #fff;
		-webkit-box-shadow: 0 0 60px #ccc;
		-moz-box-shadow: 0 0 60px #ccc;
		box-shadow: 0 0 60px #ccc;
	}

	.Header-subMenuLink {
		font-size: 0.875em;
	}