
	.Header-menuPrincipal {
		padding: 20px 0;
		border-bottom: 2px solid #E7E7E7
	}

	.Header-menuPrincipal:after {
		content: '';
		position: absolute;
		height: 15px;
		width: 100%;
		left: 0;
		bottom: -15px;
		background-position: center top;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.Header-menuPrincipal,
	.Header-menuPrincipal .grid-wrap {
		z-index: 10
	}

	.Header-menuPrincipal .phones {
		font-size: 16px;
		font-weight: 700
	}

	.Header-menuPrincipal .phones span {
		color: #BD131F
	}

	.Header-menuPrincipal .phones li {
		background: url(../img/icon-phone.png) left center no-repeat;
		padding: 0 15px
	}

	.Header-menuPrincipal .social-networks li {
		width: 28px;
		height: 27px;
		background-image: url(../img/socials.png)
	}

	.Header-menuPrincipal .social-networks li.facebook {
		background-position: 0 0
	}

	.Header-menuPrincipal .social-networks li.twitter {
		background-position:-28px 0
	}

	.Header-menuPrincipal .social-networks li.linkedIn {
		background-position:-56px 0
	}

	.Header-menuPrincipal .social-networks li.link-youtube {
		background-position:-84px 0
	}

	.Header-menuPrincipal .social-networks li.gplus {
		background-position:-110px 0
	}

	.Header-menuPrincipal nav {
		font-size:15px;
		margin:10px 0 0
	}

	.Header-menuPrincipal nav li {
		background:#fff;
		z-index:20
	}

	.Header-menuPrincipal nav li a {
		text-decoration:none;
		padding:5px
	}

	.Header-menuPrincipal nav > ul > li:hover,
	.Header-menuPrincipal nav > ul > li.current-menu-item,
	.Header-menuPrincipal nav > ul > li.current-menu-ancestor {
		box-shadow:0 0 2px rgba(0,0,0,.3)
	}

	.Header-menuPrincipal nav ul li:hover > a,
	.Header-menuPrincipal li.current-menu-item a {
		color:#BD131F
	}

	.Header-menuPrincipal nav ul li ul {
		display:none;
		position:absolute;
		background:#fff;
		box-shadow:0 1px 2px rgba(0,0,0,.3);
		padding:10px
	}

	.Header-menuPrincipal nav ul li:hover ul {
		display:block
	}

	.Header-menuPrincipal nav ul li ul li {
		display:block!important;
		text-align:left;
		font-size:12px
	}
