
	/* Color */
    .-u-red {
        color: #C93E49;
    }

    .-u-red-bold {
        color: #C93E49;
    }

    .-u-yellow-bold {
        color: #FB9D00;
        font-weight: bold;
    }

    .-u-orange-bold {
        color: #FF9E02;
        font-weight: bold;
    }

	.-u-red-bold {
		color: #BC1520;
		font-weight: bold;
	}

    .-u-black-bold {
        color: #2A2A2A;
        font-weight: bold;
    }

    .-u-gray {
        color: #7F7F7F;
    }

    .-u-gray-bold {
        color: #7F7F7F;
        font-weight: bold;
    }

    .-u-gray-light-bold {
        color: #8A8A8A;
        font-weight: bold;
    }

    /* Text sizes */
    .-u-text-14 {
        font-size: 1.142em;
    }

    /* Icon sizes */
    .icon-small {
    	font-size: 2.125em;
    }

    .icon-medium {
    	font-size: 3.125em;
    }

    .icon-big {
    	font-size: 4.125em;
    }

    .icon-title {
		background: url(../img/icon-conexion.png) no-repeat left center;
		text-align: left;
		padding: 0 0 0 20px
	}