
	.Header-teamWork {
		height: 20.625em;
		text-align: center;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		align-items: center;
		justify-content: center;
	}

	.Header-teamWork:after {
  		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: url( '../img/teamGiraffe/Header-bg.jpg' ) no-repeat center;
		opacity: 0.2;
	}

	.Header-teamWork-contentMain {
		width: 42.75em;
	}

	.Header-teamWork-iconArrow {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.Picture-teamMain {	
		padding: 3.125em;
		-webkit-display: flex;
			-ms-display: flex;
				display: flex;
		justify-content: center;
	}

	.Picture-teamBox {
		margin: 1.875em;
		height: 14.375em;
		width: 16.625em;
		box-shadow: 0 1px 1px #CACACA;
	}